.Topbar {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  height: 50px;
  position: sticky;
  top: 0;
  font-family: "Josefin sans", sans-serif;
  background: #fff;

  /* background-image: linear-gradient(to right, rgba(183, 247, 167, 0.829), #cdc); */
}
.topleft > .MuiSvgIcon-root {
  margin-left: 7px;
}
.MuiSvgIcon-root:hover {
  cursor: pointer;
}
.facebook {
  color: #1877f2;
}
.whatsapp {
  color: rgb(39, 155, 97);
}
.mail {
  color: #d33434;
}
.topleft,
.topright {
  flex: 3;
}
.topright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
}
.topcenter {
  flex: 6;
  display: flex;
  justify-content: center;
  color: #777;
}

.topList {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "Kumbh Sans", sans-serif;
}
.topListItem {
  cursor: pointer;
  list-style: none;
  margin-right: 10px;
  font-weight: 600;
}
.topImg {
  height: 33px;
  object-fit: cover;
  width: 33px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
