.header {
  margin-top: 60px;
}
.header_titles {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  font-weight: 700;
  color: #444;
}
.header_title1 {
  position: absolute;
  top: 14.6%;
  color: rgb(209, 191, 191);

  font-size: 20px;
}
.header_title2 {
  position: absolute;
  top: 21.5%;
  color: rgb(57, 108, 204);
  filter: drop-shadow(0px 3px 8px rgb(24, 24, 24));
  font-size: 50px;
}

.header > img {
  width: 100%;
  height: 430px;
  margin-top: 53px;
  object-fit: cover;
}
